doctype html
html(data-app='admin' ng-csp)
  head(itemtype='https://schema.org/WebSite' xmlns:og='http://ogp.me/ns#' itemscope)
    meta(data-pug-helmet='true' property='og:url' content='https://blupsa.karting.local:10061/')
    meta(data-pug-helmet='true' itemprop='url' content='https://blupsa.karting.local:10061/')
    meta(data-pug-helmet='false' http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    meta(data-pug-helmet='false' name='referrer' content='strict-origin-when-cross-origin')
    meta(data-pug-helmet='false' charset='UTF-8')
    title(data-pug-helmet='false') Login Required | Administrator Tools
    meta(data-pug-helmet='true' property='og:type' content='website')
    meta(data-pug-helmet='true' property='og:locale' content='en_US')
    meta(data-pug-helmet='true' name='name' content='Administrator Tools')
    meta(data-pug-helmet='true' property='og:site_name' content='Administrator Tools')
    meta(data-pug-helmet='true' itemprop='name' content='Administrator Tools')
    meta(data-pug-helmet='true' property='og:title' content='Login Required')
    meta(data-pug-helmet='true' itemprop='headline' content='Login Required')
    meta(data-pug-helmet='true' itemprop='alternateName' content='Login Required | Administrator Tools')
    meta(data-pug-helmet='false' name='description' content='An emulated game server for ModNation®Racers and LittleBigPlanet™Karting on the PS3®.')
    meta(data-pug-helmet='true' itemprop='description' property='og:description' content='An emulated game server for ModNation®Racers and LittleBigPlanet™Karting on the PS3®.')
    meta(data-pug-helmet='false' name='viewport' content='viewport-fit=contain,width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,shrink-to-fit=no')
    link(data-pug-helmet='false' type='text/css' charset='UTF-8' rel='stylesheet' media='all' href=base+'/bower_components/angular/angular-csp.css' integrity='sha384-PhwXIxEoo+uW+bv6eiTg50lAD0qnB8QWFUFg+rL9ECRHd8cb+6/NrEFbeBBeyj3U')
    link(data-pug-helmet='false' type='text/css' charset='UTF-8' rel='stylesheet' media='all' href=base+'/bower_components/bootstrap/dist/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T')
    script(data-pug-helmet='false' type='text/javascript' charset='UTF-8' defer src=base+'/bower_components/jquery/dist/jquery.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo')
    script(data-pug-helmet='false' type='text/javascript' charset='UTF-8' defer src=base+'/bower_components/bootstrap/dist/js/bootstrap.bundle.min.js' integrity='sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o')
    script(data-pug-helmet='false' type='text/javascript' charset='UTF-8' defer src=base+'/bower_components/angular/angular.js' aaasintegrity='sha384-TBbVc3SDLcWU5RloNEsoiDVvRK9iYkBNMm1OsAcOIVEASb7zzMWB0aMobj6CzKUw')
    meta(data-pug-helmet='true' name='robots' content='none,noindex,nofollow,noarchive,nosnippet,notranslate,noimageindex,nositelinkssearchbox')
    meta(data-pug-helmet='true' name='google' content='none,noindex,nofollow,noarchive,nosnippet,notranslate,noimageindex,nositelinkssearchbox')
    link(data-pug-helmet='false' rel='shortcut icon' href=base+'/favicon.ico')
    base(data-pug-helmet='false' href=base)
  body(data-scoped=base)
    div(ng-view)
    link(type='text/css' charset='UTF-8' rel='stylesheet' media='all' href=base+'/src/application.css' integrity=hashed.css)
    script(type='text/javascript' charset='UTF-8' defer src=base+'/src/application.js' integrity=hashed.js)
    noscript You must have Javascript enabled in order to use Administrator Tools.
    input(type='hidden' hidden name='__INITIAL_STATE__' value=config)
